*.DS_Store
*.a
*.bak
*.cabal
*.dll
*.dylib
*.dyn_hi
*.dyn_o
*.exe
*.hi
*.history
*.iml
*.imports
*.log
*.njsproj
*.ntvs*
*.o
*.obj
*.sln
*.so
*.suo
*.sw?
*.swo
*.swp
*.tag
*.tmp
*.yaml.lock
*_flymake.hs
*~
.DS_Store
.dir-locals.el
.env
.hie/
.hsenv/
.hspec-failures
.idea
.idea/
.python-doc-virtualenv
.stack-work/
.vagrant/
.vscode
.vscode/
/.stack-work/
/cabal.project.local
/dist-newstyle/
/dist/
/stack.yaml.lock
_release/
_site/
cabal.project.local
cabal.project.local~
dev-debug.log
dist-newstyle/
dist/
hie.yaml
lib/*.a
lib/*.o
lib/*.so
logs
node_modules/
npm-debug.log*
src/cbits/*.a
src/cbits/*.o
src/cbits/*.so
src/cbits/Makefile
stan.html
test_ffi
yarn-debug.log*
yarn-error.log*